.content{
    background-image: url("images/green-office-fon.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.content-all{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;

  background-color: rgba(255,255,255,0.3);

}

.save {
    margin: 15px;
    float: right;

}
.page img{
  width: 100px;
}


.page h1
{
	color: #322316;
	font-size:1.6em;
	font-family: matura mt script capitals, Monospace;
  margin-left: 15px;
}


.page p{
	text-indent: 1cm;
	margin: 0.5cm;
	font-family: Arial;
  text-align: justify;
}

.main_page
{

    width: 80vw;
    margin: 0 auto;
    margin-top: 17px;
    margin-bottom: 17px;
    font-size: 1em;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.link
{
    color:#525252;
    font-size:12px;

}

.menu
{
    margin:0;
    padding:0;
    list-style: none;
    width:100%;
    display: flex;
    flex-direction: column;



}

.link_menu
{
    text-align:center;
    color:#322316;
    cursor:pointer;
    font-size:14px;
    height:38px;
    background-color:#f3f3f3;
    line-height:38px;
    border:1px solid #e7e7e7;
    display:table-cell;
    text-decoration: none;

}

.link_menu_active
{
    color:#fefefe;
    background-color:#322316;
    border:1px solid #e7e7e7;
}

.footer-links {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    text-align: center;
    font-size: 1.0em;
}

.nav_footer{
  background-color:
}
.footer-links  a {
    display: block;
    color: #000;
    padding: 5px 16px;
    text-decoration: none;
    -webkit-transition: background-color 2s ease; /* For Safari 3.1 to 6.0 */
    transition:  background-color 2s ease;
}

.footer-links  a:hover {
background-color: #7ead5f;

}
.footer h4{
  background-color: #7ead5f;
  padding: 3px;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  background-color: whitesmoke;
}

#contact{
  text-align: center;
}

.copy{
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copy img{
  width: 80px;
  padding-bottom: 10px;
  -webkit-animation-name: tree-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease;/* Safari 4.0 - 8.0 */
    animation-name: tree-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

}

@-webkit-keyframes tree-animation {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    75%  {background-color: blue;}
    100% {background-color: green;}
}

/* Standard syntax */
@keyframes tree-animation {
    0%   {transform: rotateY(0deg);}
    25%  {transform: rotateY(0deg);}
    50%  {transform: rotateY(180deg);}
    75%  {transform: rotateY(0deg);}
    100% {transform: rotateY(0deg);}
}

address a{
  color: #000;
}


.page2
{

    width: 100vw;
    margin: 0 auto;
    margin-top:27px;
    margin-bottom: 27px;

}

.page2-text{
 width: 80vw;
 margin: 0 auto;
 font-size: 1em;
 padding: 10px;
 background-color: rgba(255, 255, 255, 0.5);
 text-align: justify;
}

.page2-text img{
  width: 180px;

}

.page2-right{
  float: right;
  margin-left: 15px;
  margin-bottom: 4px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.page2-left{
  float: left;
  margin-right: 15px;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page2-floatnone{
  clear: both;
}

.page3
{
    width: 100vw;
    margin: 0 auto;
    margin-top:27px;
    margin-bottom: 27px;

}
.page3-text{
  margin: 0 auto;
    width: 80vw;
      font-size: 1em;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      text-align: justify;
}

@media all and (min-width:800px){

  .top{
    width: 80vw;
    padding-top:80px;
  }

  .save {
      margin-right: 10px;
  }
.page-header{
  height: 250px;
}
.page h1{
  position: absolute;
  margin: 25px 25px 0 25px;
  font-size: 3em;
}
.page img{
  width: 250px
}
.main_page
{

    width: 70vw;
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 27px;
    font-size: 1.2em;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.page2-text{

 font-size: 1.2em;
 padding: 15px 25px 20px 25px;
 line-height: 30px;


}

.page2-text img{
  width: 310px;

}
.page3-text{
  font-size: 1.2em;
  line-height: 30px;
}

.page4 {
    width: 960px;
    margin: 0 auto;
    margin-top:27px;
}

fieldset {
	background-position: center;
}
h3 {
	text-align: center;
}

.link
{
    color:#525252;
    font-size:12px;

}

.menu
{
    margin:0;
    padding:0;
    list-style: none;
    width:100%;
    display: table;
    table-layout: fixed;
}

.link_menu
{
    text-align:center;
    color:#322316;
    cursor:pointer;
    font-size:14px;
    height:38px;
    background-color:#f3f3f3;
    line-height:38px;
    border:1px solid #e7e7e7;
    display:table-cell;
    text-decoration: none;

}

.link_menu_active
{
    color:#fefefe;
    background-color:#322316;
    border:1px solid #e7e7e7;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
    background-color: whitesmoke;
}
marquee {
	font-size: 22px;
}
.top {
	font-family: Lobster, Monospace;
	font-size: 22px;
}
.content5 {
	background-image: url("http://ckk-vyatka.com/upload/iblock/8dd/8dd112e2d95045d02f61d64ee5a729bd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    width: 30%;
    margin: 0 auto;
}

.copy{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.copy img{
  width: 160px;
  padding-bottom: 15px;
}
